<footer class="footer bg-dark text-white mt-5 py-4">
    <div class="container text-center">
      <p class="mb-2">© {{ currentYear }} Meu Blog. Todos os direitos reservados.</p>
      <div class="social-icons">
        <a href="https://github.com/ErikaGomess" target="_blank" rel="noopener" class="me-3 text-white">
          <i class="bi bi-github"></i>
        </a>
        <a href="www.linkedin.com/in/erika-de-jesus-gomes-89a3b31b3" target="_blank" rel="noopener" class="me-3 text-white">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
</footer>
  